<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sky.demo.web_demo_multi_tenant_separate_db.dao.AnLogDao" >

    <!--<resultMap id="BaseResultMap" type="com.sky.demo.common_webeb.dto.anlog.AnLogForm" >-->
        <!--<id column="id" property="id" jdbcType="BIGINT" />-->
        <!--<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />-->
        <!--<result column="user_name" property="userName" jdbcType="INTEGER" />-->
        <!--<result column="role_name" property="roleName" jdbcType="INTEGER" />-->
        <!--<result column="server_ip" property="serverIp" jdbcType="VARCHAR" />-->
        <!--<result column="client_ip" property="clientIp" jdbcType="VARCHAR" />-->
        <!--<result column="action_type" property="actionType" jdbcType="INTEGER" />-->
        <!--<result column="feature_type" property="featureType" jdbcType="INTEGER" />-->
        <!--<result column="action_info" property="actionInfo" jdbcType="TEXT"/>-->
    <!--</resultMap>-->

    <sql id="base_column_list" >
        tba.id ,
        create_time as createTime,
        user_name as userName,
        role_name as roleName,
        server_ip as serverIp,
        client_ip as clientIp,
        action_type as actionType,
        feature_type as featureType,
        action_info as actionInfo
    </sql>

    <!--resultMap="BaseResultMap"  or  resultType="com.sky.demo.model.AnLog"-->
    <select id="selectById" parameterType="java.lang.Long" resultType="AnLogForm">
        select
            <include refid="base_column_list" />
        from an_log tba, account tbb, role tbc
        <where>
            tba.user_id = tbb.id and tba.role_id = tbc.id
            <if test="id != null">
                and tba.id = #{id}
            </if>
        </where>
    </select>

    <select id="selectList" parameterType="java.util.Map" resultType="AnLogForm">
        <![CDATA[
        select
            <include refid="base_column_list" />
        from an_log tba, account tbb, role tbc
        <where>
            tba.user_id = tbb.id and tba.role_id = tbc.id
            <if test="beginTime != null">
                and create_time >= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time < #{endTime}
            </if>
        </where>
        ]]>
    </select>

    <select id="selectCount" parameterType="java.util.Map" resultType="java.lang.Long">
        <![CDATA[
        select count(*)
        from an_log
        <where>
            <if test="beginTime != null">
                create_time >= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time < #{endTime}
            </if>
        </where>
        ]]>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long" >
        delete from an_log
        where id = #{id}
    </delete>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from an_log
        where id in 
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.sky.demo.web_demo_multi_tenant_separate_db.model.AnLog" >
        insert into an_log (
            create_time,user_id,role_id,server_ip,
            client_ip,action_type,feature_type,action_info
        ) values (
            #{create_time},#{user_id},#{role_id},#{server_ip},
            #{client_ip},#{action_type},#{feature_type},#{action_info}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" >
        insert into an_log (
            create_time,user_id,role_id,server_ip,
            client_ip,action_type,feature_type,action_info
        ) values
        <foreach collection="recordList" index="index" open="(" separator="," close=")" >
            (#{create_time},#{user_id},#{role_id},#{server_ip},
            #{client_ip},#{action_type},#{feature_type},#{action_info})
        </foreach>
    </insert>

    <update id="update" parameterType="com.sky.demo.web_demo_multi_tenant_separate_db.model.AnLog" >
        update an_log
        <set>
            <if test="action_type != null">
                action_type = #{action_type},
            </if>
            <if test="feature_type != null">
                feature_type = #{feature_type},
            </if>
            <if test="action_info != null">
                action_info = #{action_info},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="com.sky.demo.web_demo_multi_tenant_separate_db.model.AnLog" >
        update an_log
        <set>
            <if test="action_type != null">
                action_type = #{action_type},
            </if>
            <if test="feature_type != null">
                feature_type = #{feature_type},
            </if>
        </set>
        where id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


</mapper>