<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">


	<bean id="myShiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="filters">
			<map>
				<entry key="headerAuthFilter" value-ref="headerAuthFilter"/>
				<entry key="deviceRegisterHeaderAuthFilter" value-ref="deviceRegisterHeaderAuthFilter"/>
			</map>
		</property>
		<property name="filterChainDefinitionMap">
			<map>
				<entry key="/v1/device/registry" value="noSessionCreation, deviceRegisterHeaderAuthFilter"/>
				<entry key="/v1/thirdparty/**" value="noSessionCreation, deviceRegisterHeaderAuthFilter"/>
				<entry key="/v1/**" value="noSessionCreation, headerAuthFilter"/>
				<entry key="/**" value="anon"/>
			</map>
		</property>
	</bean>

    <!--filters-->
    <bean id="headerAuthFilter"
          class="com.sky.demo.web_demo_multi_tenant_separate_db.filter.HeaderAuthFilter"/>
    <bean id="deviceRegisterHeaderAuthFilter"
          class="com.sky.demo.web_demo_multi_tenant_separate_db.filter.DeviceRegisterHeaderAuthFilter" />

    <!--SecurityManager, Shiro 认证和授权 都是委托给SecurityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="headerAuthRealm" />
				<ref bean="deviceRegisterHeaderAuthRealm" />
			</list>
		</property>
	</bean>

    <!--得到SecurityManager实例 并绑定给SecurityUtils-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager">
		</property>
		<property name="arguments" ref="securityManager" />
	</bean>

    <!--Realms-->
	<bean id="headerAuthRealm" class="com.sky.demo.web_demo_multi_tenant_separate_db.auth.realm.HeaderAuthRealm"/>
	<bean id="deviceRegisterHeaderAuthRealm" class="com.sky.demo.web_demo_multi_tenant_separate_db.auth.realm.DeviceRegisterHeaderAuthRealm"/>

    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

</beans>